/*shopping cart*/
#productList section.buy{
	background: lightgoldenrodyellow;
}

#cart .js-cartInfo.hide,#cart #js-cartItem.hide{
	display: none;
}

/*cart page*/
#js-cartRowTmp.hide{
	display: none;
}


/*detail page*/
.selectListOuterWrap .selectListInnerWrap .selectListTop {
	color:red!important;
}


.selectList dd.avable{
	color:black!important;
}