/*shopping cart*/
#productList section.buy{
	background: lightgoldenrodyellow;
}

#cart .js-cartInfo.hide,#cart #js-cartItem.hide{
	display: none;
}

/*cart page*/
#js-cartRowTmp.hide{
	display: none;
}


/*detail page*/
.selectListOuterWrap .selectListInnerWrap .selectListTop {
	color:red!important;
}

 /*selected color*/
.color-buttons a.active{
	border:1px solid black;
}
 /*avalible size*/
.selectList dd.avalible{
	color:black;
	cursor:pointer;
}
 /*change photo*/
.rsImg.rsMainSlideImage{
	transition: .3s!important;
}
